.statisticsList {
  list-style: none;
  justify-content: center;
  justify-content: baseline;
  text-align: center;
}

.statisticsItem {
  margin-bottom: 10px;
  color: blueviolet;
  font-weight: 700;
  font-size: large;
}
